.dark {
  --background-color: #151617;
  --text-color: #cfd5e3;
  --button-border: #5e6269;
  --modal-background: rgb(0 0 0 / 91%);
}
.light {
  --background-color: #f2f2f2;
  --text-color: #333333;
  --button-border: #c2c2c2;
  --modal-background: rgb(250 250 250 / 91%);
}
.modelOpen {
  --display: block;
}
.modelClose {
  --display: none;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.overall-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: var(--background-color);
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 150px;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
  color: var(--text-color);
}
.data {
  position: relative;
  top: 200px;
}
button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--button-border);
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  color: var(--text-color);
  padding: 35px;
  line-height: 1;
}
.data {
  color: var(--text-color);
}
.icons i {
  display: flex;
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  position: absolute;
  top: 50px;
}
#navicons {
  transition: transform 0.3s ease;
}
#navicons:hover {
  transform: scale(1.4);
}

/* modal */
* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: var(--background-color);
}
/* Modal default hidden */
.modal {
  display: var(--display);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
}

/* Modal content box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  background-color: transparent;
  color: var(--text-color);
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.learn-more a {
  text-decoration: underline;
  color: var(--text-color);
}
.author {
  color: var(--text-color);
  text-decoration: none;
}

.copyright a {
  color: var(--text-color);
  text-decoration: none;
}
.close-modal i {
  font-size: 25px;
}
.contact-icons i {
  color: var(--text-color);
  cursor: pointer;
  font-size: 20px;
}
.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.close-modal i{
  cursor: pointer;
}